extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner is219 Final Project
    div.Message
      div.Title
        h3 Yu-Ching Tseng
        h1 2021 Auth0 + JWT + MySQL
      span.Details Use Auth0 universal login, generate JWT to secure profile and db routes
    div.NavButtons
      if isAuthenticated
        a(href="/user")
          div.NavButton Just dive in!
        a(href="/db")
          div.NavButton DataBase
      else
        a(href="/login")
          div.NavButton Log in